{
  "openapi": "3.1.0",
  "info": {
    "title": "Inrepli REST API",
    "version": "1.1.0",
    "description": "API 1.1 exposes eight CRM operations under /v1. Authenticate using a tenant-scoped Bearer API key. Successful reads cost 1 RU per request/page; successful PATCH requests, including idempotent replays, cost 2 RU; failures cost 0 RU. Maximum 10 requests per API key and 25 per tenant concurrently. Plan quota charging and manual access differ; see the usage guide. Lists are not snapshots or change feeds. Read-only interaction and AI snapshots are not recomputed by PATCH."
  },
  "servers": [
    {
      "url": "https://app.inrepli.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerApiKey": []
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "operationId": "search_contacts",
        "summary": "List contacts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque nextCursor from the preceding page. Preserve filters, q, sort, count and include. Bound to tenant and key scopes; not a snapshot.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Optional complete filtered count.",
            "schema": {
              "enum": [
                "exact"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Optional case-insensitive substring search of basic identity text, not custom fields or notes. Whitespace is trimmed.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields: createdAt, updatedAt, name, lastInteractionAt. Prefix - for descending. Default -createdAt; at most two distinct fields. Server appends id as a tie-breaker; nullable values sort last.",
            "schema": {
              "type": "string",
              "default": "-createdAt"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ownerId]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ownerId][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ownerId][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[enrichmentStatus]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[enrichmentStatus][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[enrichmentStatus][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[email]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[email][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[email][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[mobile]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[mobile][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[mobile][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[companyId]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[companyId][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[companyId][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[qualification]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[qualification][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[intentLevel]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[intentLevel][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[intentLevel][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[country]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[country][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[country][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[industry]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[industry][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[industry][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[position]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[position][contains]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[position][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response (1 RU).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactListItem"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "data": [
                        {
                          "id": "example-id-1",
                          "name": "Example second contact",
                          "firstName": null,
                          "lastName": null,
                          "email": "contact@example.test",
                          "mobile": null,
                          "position": null,
                          "company": null,
                          "companyId": null,
                          "ownerId": null,
                          "qualification": true,
                          "createdAt": "2026-09-09T06:34:58.396Z",
                          "updatedAt": "2026-09-09T06:34:58.396Z",
                          "intentType": null,
                          "intentLevel": null,
                          "lastInteractionAt": null,
                          "enrichmentStatus": null,
                          "enrichmentAt": null,
                          "etag": "\"2026-09-09T06:34:58.396Z\"",
                          "location": {
                            "country": null,
                            "region": null,
                            "city": null
                          },
                          "customFields": {
                            "segment": null
                          }
                        }
                      ],
                      "nextCursor": "OPAQUE_CURSOR_FROM_PREVIOUS_PAGE"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request correlation ID."
              }
            }
          },
          "400": {
            "description": "Invalid query, unknown write field, missing idempotency key or invalid custom-field value.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked or expired API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Required scope or plan eligibility is missing.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or quota limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          },
          "500": {
            "description": "Internal server error; code INTERNAL_ERROR.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable; code INTERNAL_ERROR. Retry only as described in the update guide.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "x-required-scopes": [
          "contacts:read"
        ],
        "description": "Requires contacts:read. Returns a cursor page. Query predicates are AND-combined; in matches any listed value. At most 10 predicates, including 3 custom predicates. Dynamic filters use filter[customFields.KEY][operator]; replace KEY with an active definition key. in/hasAny use comma-separated strings (up to 50 values). These dynamic names cannot be enumerated as fixed OpenAPI parameters. See the filtering and custom-fields guides. Fields omitted from list output may still be filtered using supported operators.",
        "x-custom-field-filters": {
          "SHORT_TEXT": [
            "eq",
            "in",
            "isNull"
          ],
          "LONG_TEXT": [
            "isNull"
          ],
          "INTEGER": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "DECIMAL": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "BOOLEAN": [
            "eq",
            "isNull"
          ],
          "DATE": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "DATETIME": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "SINGLE_SELECT": [
            "eq",
            "in",
            "isNull"
          ],
          "MULTI_SELECT": [
            "hasAny",
            "isNull"
          ]
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "get_contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Optional relations: company,owner. profile,notes,insights,engagement,enrichment,consent,contactability remain accepted for compatibility; their fields are now returned by default.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record with ETag (1 RU).",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Quoted updatedAt ISO timestamp; reuse verbatim as If-Match.",
                "example": "\"2026-09-09T00:00:00.000Z\""
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request correlation ID."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "data": {
                        "id": "example-id-2",
                        "name": "Example contact",
                        "firstName": null,
                        "lastName": null,
                        "email": "contact@example.test",
                        "mobile": null,
                        "position": null,
                        "company": null,
                        "companyId": null,
                        "ownerId": null,
                        "qualification": true,
                        "createdAt": "2026-09-09T06:34:58.379Z",
                        "updatedAt": "2026-09-09T06:34:58.379Z",
                        "industry": null,
                        "language": null,
                        "timezone": null,
                        "linkedinUrl": null,
                        "recordSource": null,
                        "originChannel": null,
                        "notes": null,
                        "notesAt": null,
                        "score": null,
                        "reasoning": null,
                        "qualificationConfidence": null,
                        "qualifiedAt": null,
                        "intentType": null,
                        "intentLevel": null,
                        "intentReason": null,
                        "intentInferredAt": null,
                        "lastInteractionAt": null,
                        "lastMessageSentAt": null,
                        "lastMessageReceivedAt": null,
                        "sessionSummaryDiscussed": null,
                        "sessionSummaryRequests": null,
                        "sessionSummaryAt": null,
                        "enrichmentStatus": null,
                        "enrichmentAt": null,
                        "doNotContact": null,
                        "doNotContactAt": null,
                        "doNotContactReason": null,
                        "emailMarketingConsentStatus": null,
                        "emailMarketingConsentUpdatedAt": null,
                        "smsMarketingConsentStatus": null,
                        "smsMarketingConsentUpdatedAt": null,
                        "whatsappMarketingConsentStatus": null,
                        "whatsappMarketingConsentUpdatedAt": null,
                        "phoneMarketingConsentStatus": null,
                        "phoneMarketingConsentUpdatedAt": null,
                        "consentUpdatedAt": null,
                        "contactable": null,
                        "contactableChannels": null,
                        "contactabilityUpdatedAt": null,
                        "emailReachabilityStatus": null,
                        "webChatReachabilityStatus": null,
                        "whatsappReachabilityStatus": null,
                        "whatsappServiceWindowExpiresAt": null,
                        "phoneReachabilityStatus": null,
                        "etag": "\"2026-09-09T06:34:58.379Z\"",
                        "location": {
                          "country": null,
                          "region": null,
                          "city": null
                        },
                        "customFields": {
                          "segment": "enterprise"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query, unknown write field, missing idempotency key or invalid custom-field value.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked or expired API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Required scope or plan eligibility is missing.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or quota limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          },
          "500": {
            "description": "Internal server error; code INTERNAL_ERROR.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable; code INTERNAL_ERROR. Retry only as described in the update guide.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          }
        },
        "description": "Requires contacts:read. Returns all public scalar fields and active custom values by default. Related resources require explicit include and their read scope.",
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact",
        "x-required-scopes": [
          "contacts:read"
        ]
      },
      "patch": {
        "operationId": "update_contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Use the quoted etag from a list item, detail or previous PATCH. Missing: 428; stale: 412. Read is not implied by write."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "Use a unique key for each logical update. Retry the exact body, resource and If-Match with the same key. Stored response expires after 24 hours; reuse with a different request during retention returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWrite"
              },
              "example": {
                "position": "Manager",
                "notes": "Requested a follow-up."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Persisted confirmation; 2 RU including replay. No duplicate mutation on replay.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContactUpdateResult"
                    }
                  }
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "data": {
                        "id": "example-id-2",
                        "name": "Example contact",
                        "firstName": null,
                        "lastName": null,
                        "email": "contact@example.test",
                        "mobile": null,
                        "position": "Manager",
                        "company": null,
                        "companyId": null,
                        "ownerId": null,
                        "qualification": true,
                        "createdAt": "2026-09-09T06:34:58.379Z",
                        "updatedAt": "2026-09-09T06:34:58.895Z",
                        "notes": "Requested a follow-up.",
                        "etag": "\"2026-09-09T06:34:58.895Z\"",
                        "location": {
                          "country": null,
                          "region": null,
                          "city": null
                        },
                        "customFields": {
                          "segment": "enterprise"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request correlation ID."
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Quoted updatedAt ISO timestamp; reuse verbatim as If-Match.",
                "example": "\"2026-09-09T00:00:00.000Z\""
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                },
                "description": "Whether a stored response was replayed."
              }
            }
          },
          "400": {
            "description": "Invalid query, unknown write field, missing idempotency key or invalid custom-field value.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked or expired API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Required scope or plan eligibility is missing.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "type": "https://api.inrepli.com/problems/custom_field_editing_not_available",
                      "title": "Request failed",
                      "status": 403,
                      "detail": "Custom field editing is available on Growth and Scale plans",
                      "code": "CUSTOM_FIELD_EDITING_NOT_AVAILABLE",
                      "requestId": "example-id-6"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Identity conflict or idempotency key reused for a different request.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "412": {
            "description": "ETag mismatch.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "type": "https://api.inrepli.com/problems/etag_mismatch",
                      "title": "Request failed",
                      "status": 412,
                      "detail": "The resource has changed. Fetch it and retry.",
                      "code": "ETAG_MISMATCH",
                      "requestId": "example-id-3"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid field value or related resource. CONTACT_IDENTITY_READ_ONLY: email or mobile was supplied; omit these read-only fields.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "428": {
            "description": "If-Match is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or quota limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          },
          "500": {
            "description": "Internal server error; code INTERNAL_ERROR.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable; code INTERNAL_ERROR. Retry only as described in the update guide.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "summary": "Update contact",
        "x-required-scopes": [
          "contacts:write"
        ],
        "description": "Requires contacts:write. Requires If-Match and Idempotency-Key. Omitted fields remain unchanged. Returns persisted confirmation, not the full detail. Primary email and mobile are read-only. Omit both from PATCH bodies, including unchanged values and nulls. Supplying either returns 422 CONTACT_IDENTITY_READ_ONLY without applying any changes. Reading and filtering remain supported."
      }
    },
    "/companies": {
      "get": {
        "operationId": "search_companies",
        "summary": "List companies",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque nextCursor from the preceding page. Preserve filters, q, sort, count and include. Bound to tenant and key scopes; not a snapshot.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Optional complete filtered count.",
            "schema": {
              "enum": [
                "exact"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Optional case-insensitive substring search of basic identity text, not custom fields or notes. Whitespace is trimmed.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields: createdAt, updatedAt, name, lastInteractionAt, employeeCount, customerFitScore. Prefix - for descending. Default -createdAt; at most two distinct fields. Server appends id as a tie-breaker; nullable values sort last.",
            "schema": {
              "type": "string",
              "default": "-createdAt"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ownerId]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ownerId][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ownerId][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdAt][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updatedAt][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lastInteractionAt][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[enrichmentStatus]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[enrichmentStatus][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[enrichmentStatus][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[domain]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[domain][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[industry]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[industry][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[industry][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[subIndustry]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[subIndustry][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[subIndustry][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[hqCountry]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[hqCountry][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[hqCountry][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[employeeCount]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[employeeCount][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[employeeCount][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[employeeCount][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[employeeCount][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[employeeCount][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[yearFounded]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[yearFounded][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[yearFounded][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[yearFounded][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[yearFounded][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[yearFounded][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customerFitScore]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customerFitScore][gt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customerFitScore][gte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customerFitScore][lt]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customerFitScore][lte]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customerFitScore][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Optional owner/contactSummary require corresponding resource read access. fit/enrichment remain accepted; lists return fit score and enrichment status but never fit reason or notes.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response (1 RU).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyListItem"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "data": [
                        {
                          "id": "example-id-4",
                          "name": "Example company",
                          "registeredName": null,
                          "industry": null,
                          "subIndustry": null,
                          "employeeCount": 80,
                          "revenue": null,
                          "hqCountry": null,
                          "yearFounded": null,
                          "ownerId": null,
                          "logo": null,
                          "enrichmentAt": null,
                          "enrichmentStatus": null,
                          "lastMessageSentAt": null,
                          "lastMessageReceivedAt": null,
                          "lastInteractionAt": null,
                          "createdAt": "2026-09-09T06:34:58.415Z",
                          "updatedAt": "2026-09-09T06:34:58.415Z",
                          "customerFitScore": null,
                          "etag": "\"2026-09-09T06:34:58.415Z\"",
                          "websiteUrl": "https://example.com",
                          "customFields": {}
                        }
                      ],
                      "nextCursor": null,
                      "total": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request correlation ID."
              }
            }
          },
          "400": {
            "description": "Invalid query, unknown write field, missing idempotency key or invalid custom-field value.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked or expired API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Required scope or plan eligibility is missing.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or quota limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          },
          "500": {
            "description": "Internal server error; code INTERNAL_ERROR.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable; code INTERNAL_ERROR. Retry only as described in the update guide.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "x-required-scopes": [
          "companies:read"
        ],
        "description": "Requires companies:read. Returns a cursor page. Query predicates are AND-combined; in matches any listed value. At most 10 predicates, including 3 custom predicates. Dynamic filters use filter[customFields.KEY][operator]; replace KEY with an active definition key. in/hasAny use comma-separated strings (up to 50 values). These dynamic names cannot be enumerated as fixed OpenAPI parameters. See the filtering and custom-fields guides. Fields omitted from list output may still be filtered using supported operators.",
        "x-custom-field-filters": {
          "SHORT_TEXT": [
            "eq",
            "in",
            "isNull"
          ],
          "LONG_TEXT": [
            "isNull"
          ],
          "INTEGER": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "DECIMAL": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "BOOLEAN": [
            "eq",
            "isNull"
          ],
          "DATE": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "DATETIME": [
            "eq",
            "gt",
            "gte",
            "lt",
            "lte",
            "isNull"
          ],
          "SINGLE_SELECT": [
            "eq",
            "in",
            "isNull"
          ],
          "MULTI_SELECT": [
            "hasAny",
            "isNull"
          ]
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "operationId": "get_companie",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Optional: owner,contactSummary. fit,enrichment remain accepted for compatibility; their scalar fields are now returned by default.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record with ETag (1 RU).",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Quoted updatedAt ISO timestamp; reuse verbatim as If-Match.",
                "example": "\"2026-09-09T00:00:00.000Z\""
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request correlation ID."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "data": {
                        "id": "example-id-4",
                        "name": "Example company",
                        "registeredName": null,
                        "industry": null,
                        "subIndustry": null,
                        "employeeCount": 80,
                        "revenue": null,
                        "hqCountry": null,
                        "yearFounded": null,
                        "ownerId": null,
                        "notes": null,
                        "logo": null,
                        "notesAt": null,
                        "enrichmentAt": null,
                        "enrichmentStatus": null,
                        "lastMessageSentAt": null,
                        "lastMessageReceivedAt": null,
                        "lastInteractionAt": null,
                        "createdAt": "2026-09-09T06:34:58.415Z",
                        "updatedAt": "2026-09-09T06:34:58.415Z",
                        "customerFitScore": null,
                        "customerFitScoreReason": null,
                        "etag": "\"2026-09-09T06:34:58.415Z\"",
                        "websiteUrl": "https://example.com",
                        "customFields": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query, unknown write field, missing idempotency key or invalid custom-field value.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked or expired API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Required scope or plan eligibility is missing.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or quota limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          },
          "500": {
            "description": "Internal server error; code INTERNAL_ERROR.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable; code INTERNAL_ERROR. Retry only as described in the update guide.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          }
        },
        "description": "Requires companies:read. Returns all public scalar fields and active custom values by default. Related resources require explicit include and their read scope.",
        "tags": [
          "Companies"
        ],
        "summary": "Get companie",
        "x-required-scopes": [
          "companies:read"
        ]
      },
      "patch": {
        "operationId": "update_companie",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Use the quoted etag from a list item, detail or previous PATCH. Missing: 428; stale: 412. Read is not implied by write."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "Use a unique key for each logical update. Retry the exact body, resource and If-Match with the same key. Stored response expires after 24 hours; reuse with a different request during retention returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyWrite"
              },
              "example": {
                "industry": "Software"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Persisted confirmation; 2 RU including replay. No duplicate mutation on replay.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CompanyUpdateResult"
                    }
                  }
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "data": {
                        "id": "example-id-4",
                        "name": "Example company",
                        "registeredName": null,
                        "industry": "Software",
                        "subIndustry": null,
                        "employeeCount": 80,
                        "revenue": null,
                        "hqCountry": null,
                        "yearFounded": null,
                        "ownerId": null,
                        "notes": null,
                        "logo": null,
                        "notesAt": null,
                        "enrichmentAt": null,
                        "enrichmentStatus": null,
                        "lastMessageSentAt": null,
                        "lastMessageReceivedAt": null,
                        "lastInteractionAt": null,
                        "createdAt": "2026-09-09T06:34:58.415Z",
                        "updatedAt": "2026-09-09T06:34:59.422Z",
                        "etag": "\"2026-09-09T06:34:59.422Z\"",
                        "websiteUrl": "https://example.com",
                        "customFields": {}
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request correlation ID."
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Quoted updatedAt ISO timestamp; reuse verbatim as If-Match.",
                "example": "\"2026-09-09T00:00:00.000Z\""
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                },
                "description": "Whether a stored response was replayed."
              }
            }
          },
          "400": {
            "description": "Invalid query, unknown write field, missing idempotency key or invalid custom-field value.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked or expired API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Required scope or plan eligibility is missing.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Identity conflict or idempotency key reused for a different request.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "412": {
            "description": "ETag mismatch.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "Invalid field value or related resource.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "428": {
            "description": "If-Match is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or quota limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          },
          "500": {
            "description": "Internal server error; code INTERNAL_ERROR.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable; code INTERNAL_ERROR. Retry only as described in the update guide.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "summary": "Update companie",
        "x-required-scopes": [
          "companies:write"
        ],
        "description": "Requires companies:write. Requires If-Match and Idempotency-Key. Omitted fields remain unchanged. Returns persisted confirmation, not the full detail."
      }
    },
    "/team-members": {
      "get": {
        "operationId": "search_team_members",
        "summary": "List team members",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque nextCursor from the preceding page. Preserve filters, q, sort, count and include. Bound to tenant and key scopes; not a snapshot.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Optional complete filtered count.",
            "schema": {
              "enum": [
                "exact"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Optional case-insensitive substring search of basic identity text, not custom fields or notes. Whitespace is trimmed.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields: createdAt. Prefix - for descending. Default -createdAt; at most two distinct fields. Server appends id as a tie-breaker; nullable values sort last.",
            "schema": {
              "type": "string",
              "default": "-createdAt"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "description": "Send once as a string. filter[field] is shorthand for filter[field][eq]. Dates must be valid calendar dates and timestamps must include a timezone.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status][in]",
            "in": "query",
            "required": false,
            "description": "Comma-separated values (1–50), sent once as a string. No repeated keys or JSON arrays.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status][isNull]",
            "in": "query",
            "required": false,
            "description": "Literal true for missing/null, false for present.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response (1 RU).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TeamMember"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                },
                "examples": {
                  "documented": {
                    "summary": "Synthetic example; substitute your own IDs and ETags.",
                    "value": {
                      "data": [],
                      "nextCursor": null
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request correlation ID."
              }
            }
          },
          "400": {
            "description": "Invalid query, unknown write field, missing idempotency key or invalid custom-field value.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked or expired API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Required scope or plan eligibility is missing.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or quota limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          },
          "500": {
            "description": "Internal server error; code INTERNAL_ERROR.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable; code INTERNAL_ERROR. Retry only as described in the update guide.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Retry delay in seconds when provided. Quota exhaustion can require quota renewal."
              }
            }
          }
        },
        "tags": [
          "Team members"
        ],
        "x-required-scopes": [
          "team-members:read"
        ],
        "description": "Requires team-members:read. Returns a cursor page. Query predicates are AND-combined; in matches any listed value."
      }
    },
    "/custom-field-definitions": {
      "get": {
        "operationId": "search_custom_field_definitions",
        "summary": "List custom field definitions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque nextCursor from the preceding page. Preserve filters, q, sort, count and include. Bound to tenant and key scopes; not a snapshot.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Optional complete filtered count.",
            "schema": {
              "enum": [
                "exact"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields: createdAt. Prefix - for descending. Default -createdAt; at most two distinct fields. Server appends id as a tie-breaker; nullable values sort last.",
            "schema": {
              "type": "string",
              "default": "-createdAt"
            }
          },
          {
            "name": "objectType",
            "in": "query",
            "required": true,
            "description": "Object whose custom definitions are requested.",
            "schema": {
              "enum": [
                "contact",
                "company"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Definition status.",
            "schema": {
              "enum": [
                "ACTIVE",
                "ARCHIVED"
              ],
              "default": "ACTIVE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response (1 RU).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomFieldDefinition"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
[...]
